@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Montserrat";
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

img,
fieldset {
  list-style: none;
  border: 0 none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

fieldset {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
label {
  vertical-align: middle;
}

.h {
  position: absolute;
  top: -99999px;
  opacity: 0;
}

/** =================== MONTSERRAT =================== **/
/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("../font/Montserrat-Thin.woff2") format("woff2");
}
/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("../font/Montserrat-ExtraLight.woff2") format("woff2");
}
/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("../font/Montserrat-Light.woff2") format("woff2");
}
/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../font/Montserrat-Regular.woff2") format("woff2");
}
/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("../font/Montserrat-Medium.woff2") format("woff2");
}
/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../font/Montserrat-SemiBold.woff2") format("woff2");
}
/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../font/Montserrat-Bold.woff2") format("woff2");
}
/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../font/Montserrat-ExtraBold.woff2") format("woff2");
}
/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("../font/Montserrat-Black.woff2") format("woff2");
}
.offscreen {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.line_deco {
  display: inline-block;
  width: 70px;
  height: 5px;
  margin: 34px 0;
  background-image: linear-gradient(to right, #cd5772, #db755a);
}

.line_deco_02 {
  display: inline-block;
  width: 180px;
  height: 5px;
  margin: 24px 0;
  background-image: linear-gradient(to right, #cd5772, #db755a);
}

.bottom {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.big_txt_sub {
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 50vw;
  color: #ddd;
  font-weight: 800;
  opacity: 0.7;
}

.w_sub {
  width: 923px !important;
}

.sub_txt {
  position: absolute;
  right: 0;
  top: 100px;
  font-size: 21vw;
  color: #1a1a1f;
  font-weight: 700;
}

.mb_35 {
  margin-bottom: 35px;
}

.t_center {
  text-align: center !important;
}

@media screen and (max-width: 1920px) {
  .sub_txt {
    font-size: 27vw;
  }
}
@media screen and (max-width: 999px) {
  .big_txt_sub {
    font-size: 70vw;
  }
  .sub_txt {
    font-size: 50vw;
    top: -100px;
  }
}
@media screen and (max-width: 639px) {
  .big_txt_sub {
    font-size: 100vw;
    margin-left: -50px;
  }
  .sub_txt {
    font-size: 60vw;
    top: -120px;
    right: -50px;
  }
  .line_deco_02 {
    width: 90px;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 2% 4%;
  z-index: 1;
  box-sizing: border-box;
  border: none;
}
header h1 a {
  display: block;
  width: 95px;
  height: 19px;
  background: url(../img/logo.png) no-repeat right center;
  background-size: 28px 19px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
header #gnb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
header #gnb li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
header #menu {
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 4%;
  }
  header #gnb {
    display: none;
  }
  header #menu {
    display: block;
  }
  header #menu i {
    color: #fff;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: url(../img/bg_footer.png) no-repeat bottom center #1c1b21;
  background-size: 428px 280px;
}
footer .content {
  width: 1400px;
  margin: 0 auto;
  padding: 74px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .content .left_box {
  width: 24%;
}
footer .content .left_box h1 a {
  display: block;
  width: 95px;
  height: 19px;
  background: url(../img/logo.png) no-repeat right center;
  background-size: 28px 19px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
footer .content .left_box p {
  font-size: 17px;
  line-height: 1.5;
  color: #63666e;
  margin: 32px 0 40px;
}
footer .content .left_box .sns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
}
footer .content .left_box .sns li i {
  color: #fff;
}
footer .content .right_box {
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 64px;
}
footer .content .right_box .right_box_inner h2 {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}
footer .content .right_box .right_box_inner .line_deco {
  width: 35px !important;
  margin: 24px 0 !important;
}
footer .content .right_box .right_box_inner li {
  font-size: 13px;
  color: #63666e;
  line-height: 2.3;
  text-align: left;
}

@media screen and (max-width: 1440px) {
  footer .content {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  footer {
    background-size: 312px 204px;
  }
  footer .content .left_box {
    width: 35%;
  }
}
@media screen and (max-width: 970px) {
  footer {
    background: #1c1b21;
  }
}
@media screen and (max-width: 572px) {
  footer .content {
    flex-wrap: wrap;
    padding: 41px 0;
  }
  footer .content .left_box {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .content .left_box p {
    margin: 32px 0 10px;
  }
  footer .content .left_box .sns {
    float: right;
  }
  footer .content .right_box {
    gap: 15px;
  }
}
.content {
  position: relative;
  width: 100%;
}
.content .inner_top {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 150px;
  box-sizing: border-box;
}
.content .inner_top .bg_deep {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 900px;
  background: #1c1b20;
}
.content .inner_top .txt_box {
  position: relative;
}
.content .inner_top .txt_box span {
  color: #676a6e;
  font-size: 25px;
  line-height: 1;
}
.content .inner_top .txt_box h1 {
  margin-bottom: 62px;
  color: #fff;
  font-size: 45px;
  line-height: 1;
}
.content .inner_top .txt_box .ex_p {
  width: 700px;
  margin: 0 auto;
  color: #77767c;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 150px;
  word-break: break-all;
}

@media screen and (max-width: 999px) {
  .content .inner_top {
    padding-top: 110px;
  }
  .content .inner_top .txt_box .ex_p {
    width: 90%;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 639px) {
  .content .inner_top {
    padding-top: 100px;
  }
  .content .inner_top .txt_box .ex_p {
    margin-bottom: 30px;
  }
}
.pop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0px;
  padding: 100px;
  z-index: 5;
  opacity: 0;
  transition: opacity 1s;
  box-sizing: border-box;
}
.pop.on {
  opacity: 1;
}
.pop .con {
  width: 100%;
  height: 100%;
}
.pop .con iframe,
.pop .con video,
.pop .con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}
.pop .con img {
  object-fit: contain;
}
.pop .close {
  font: bold 14px/1 "arial";
  color: #fff;
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

@media screen and (max-width: 999px) {
  .pop {
    padding: 40px;
  }
  .pop .close {
    right: 40px;
  }
}
@media screen and (max-width: 639px) {
  .pop {
    padding: 30px;
  }
  .pop .close {
    right: 30px;
  }
}
#wrap_first {
  position: relative;
  width: 100%;
  height: 772px;
  background: #1a1a1f;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap_first .txt_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#wrap_first .txt_main h2 {
  color: #fff;
  font-size: 3vw;
  margin-bottom: 25px;
}
#wrap_first .txt_main p {
  color: #cd5772;
  font-size: 1vw;
}
#wrap_first .txt_main .txt_round {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  height: 60px;
  margin-top: 70px;
  padding: 0 5px;
  border-radius: 60px;
  background-image: linear-gradient(to right, #cd5772, #ce6a52);
  box-sizing: border-box;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
#wrap_first .txt_main .txt_round p {
  padding-left: 30px;
  font-size: 24px;
  color: #fff;
  line-height: 1;
}
#wrap_first .txt_main .txt_round span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-top: -2px;
  font-weight: 700;
  font-size: 19px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
#wrap_first .sns {
  position: absolute;
  bottom: 35px;
  right: 4%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 13px;
}
#wrap_first .sns li i {
  color: #fff;
}

#things {
  position: relative;
  width: 100%;
  height: auto;
  background: #232427;
}
#things .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}
#things .content .content_txt {
  position: relative;
  width: 65%;
  margin: 100px 0;
}
#things .content .content_txt h1 {
  font-size: 36px;
  font-weight: 300;
  color: #63666e;
  line-height: 1;
}
#things .content .content_txt h1 span {
  color: #fff;
}
#things .content .content_txt p.ex {
  font-size: 17px;
  line-height: 1.9;
  color: #63666e;
  margin-bottom: 20px;
}
#things .content .content_txt p.it {
  font-style: italic;
}
#things .big_txt {
  position: absolute;
  top: 70px;
  right: 5vw;
  font-size: 50vw;
  color: #1a1a1f;
  font-weight: 900;
}
#things #youtube {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#things #youtube .con {
  flex: 1;
  height: 100%;
  background: #000;
  border-right: 1px solid #787878;
  opacity: 0.7;
}
#things #youtube .con.on img {
  opacity: 1;
}
#things #youtube .con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

#gallery {
  position: relative;
  width: 1400px;
  padding-bottom: 100px;
  margin: 100px auto 0;
  text-align: center;
}
#gallery h1 {
  margin-bottom: 143px;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  line-height: 1;
  text-align: center;
}
#gallery .img_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
}
#gallery .img_box figure {
  flex: 1;
  position: relative;
  height: 556px;
}
#gallery .img_box figure .circle {
  width: 290px;
  height: 290px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
}
#gallery .img_box figure .circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}
#gallery .img_box figure figcaption {
  color: #f1f1f1;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 56px auto;
}
#gallery .img_box figure p {
  font-size: 13px;
  line-height: 1.5;
  color: #63666e;
}

#news {
  width: 100%;
  height: auto;
  background: #202125;
}
#news .content {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}
#news .content h1 {
  padding: 103px 0 33px;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  line-height: 1;
  text-align: center;
}
#news .content p {
  font-size: 17px;
  line-height: 1.9;
  color: #63666e;
  margin-bottom: 20px;
  text-align: center;
}
#news .content .txt_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-top: 82px;
}
#news .content .txt_box .txt_inner {
  position: relative;
  flex: 1;
  padding: 30px;
  border: 2px solid #3a3c3f;
  background: #1a1b20;
}
#news .content .txt_box .txt_inner:hover {
  background: linear-gradient(to right, #cd5772, #ce6a52);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
#news .content .txt_box .txt_inner:hover dt {
  color: #fff;
}
#news .content .txt_box .txt_inner:hover dd {
  color: #fff;
}
#news .content .txt_box .txt_inner:hover i {
  display: block;
}
#news .content .txt_box .txt_inner dt {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 10px;
  background: linear-gradient(to right, #cd5772, #ce6a52);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#news .content .txt_box .txt_inner dd {
  color: #63666e;
  line-height: 1.3;
}
#news .content .txt_box .txt_inner i {
  display: none;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: #fff;
}
#news .content .contact {
  margin: 70px auto 0;
  padding: 70px 0 100px;
  border-top: 1px solid #63666e;
}
#news .content .contact .contect_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#news .content .contact .contect_title h2 {
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  line-height: 1;
  text-align: left;
}
#news .content .contact .contect_title button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  background: #232428;
  border-radius: 45px;
  color: #fff;
  font-size: 20px;
}
#news .content .contact .area_3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 82px 0 0;
  gap: 70px;
}
#news .content .contact .area_3 i {
  font-size: 34px;
  background: linear-gradient(to right, #cd5772, #ce6a52);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
#news .content .contact .area_3 h3 {
  margin-top: 24px;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
}
#news .content .contact .area_3 p {
  margin-top: 50px;
  font-size: 13px;
  color: #63666e;
  line-height: 1.5;
  text-align: left;
}
#news .content .contact .area_3 ul li {
  list-style: square;
  color: #fff;
  font-size: 13px;
  color: #63666e;
  margin-left: 17px;
  line-height: 1.5;
}

@media screen and (max-width: 1440px) {
  #things .content {
    width: 90%;
  }
  #gallery {
    width: 90%;
  }
  #gallery .img_box {
    gap: 40px;
  }
  #gallery .img_box figure .circle {
    width: 250px;
    height: 250px;
  }
  #news .content {
    width: 90%;
  }
  #news .content .txt_box .txt_inner {
    height: 144px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1152px) {
  #gallery .img_box figure .circle {
    width: 230px;
    height: 230px;
  }
}
@media screen and (max-width: 1024px) {
  #things .content .content_txt {
    width: 70%;
    margin-top: 60px;
  }
  #gallery h1 {
    margin-bottom: 73px;
  }
  #gallery .img_box figure {
    height: 500px;
  }
  #gallery .img_box figure:last-child {
    display: none;
  }
  #news .content .txt_box .txt_inner {
    height: 170px;
  }
  #news .content .txt_box .txt_inner dd {
    line-height: 1.4;
  }
}
@media screen and (max-width: 820px) {
  #wrap_first {
    height: 100vh;
  }
  #wrap_first .txt_main h2 {
    font-size: 10vw;
  }
  #wrap_first .txt_main p {
    font-size: 5vw;
  }
  #things .content .content_txt {
    width: 100%;
  }
  #things .big_txt {
    font-size: 70vw;
  }
  #gallery .img_box {
    flex-wrap: wrap;
  }
  #gallery .img_box figure {
    height: 450px;
  }
  #gallery .img_box figure figcaption {
    margin: 36px auto;
  }
  #gallery .img_box figure:last-child {
    display: block;
  }
  #news .content .txt_box {
    flex-wrap: wrap;
  }
  #news .content .txt_box .txt_inner {
    flex: none;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 580px) {
  #gallery .img_box figure {
    height: 470px;
  }
}
@media screen and (max-width: 572px) {
  main {
    overflow: hidden;
  }
  main #things .big_txt {
    font-size: 90vw;
    margin-right: -30px;
  }
  main #things .content .content_txt {
    margin: 50px 0;
  }
  main #things .content .content_txt h1 {
    font-size: 27px;
  }
  main #things #gallery {
    padding-bottom: 50px;
    margin: 70px auto 0;
  }
  main #things #gallery h1 {
    font-size: 27px;
  }
  main #things #gallery .img_box figure {
    height: 450px;
  }
  main #news .content h1 {
    padding: 70px 0 33px;
    font-size: 27px;
  }
  main #news .content .txt_box {
    margin-top: 50px;
  }
  main #news .content .contact {
    padding: 70px 0;
  }
  main #news .content .contact .contect_title h2 {
    font-size: 27px;
  }
  main #news .content .contact .contect_title button {
    width: 150px;
  }
  main #news .content .contact .area_3 {
    flex-wrap: wrap;
    padding: 40px 0 0;
    gap: 35px;
  }
  main #news .content .contact .area_3 .area_inner {
    text-align: center;
  }
  main #news .content .contact .area_3 .area_inner p {
    margin-top: 25px;
  }
  main #news .content .contact .area_3 .area_inner ul li {
    display: inline-block;
  }
}
@media screen and (max-width: 320px) {
  #wrap_first .txt_main .txt_round {
    width: 250px;
  }
  #wrap_first .txt_main .txt_round p {
    font-size: 20px;
  }
  #things #gallery .img_box figure {
    height: 450px;
  }
}
.department {
  width: 100%;
  height: auto;
  background: #232427;
}
.department .inner_top .txt {
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11vw;
  color: #232427;
  font-weight: 700;
}
.department .wrap {
  position: relative;
  width: 923px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.department .wrap article {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 33.3333333333%;
  box-sizing: border-box;
}
.department .wrap article:nth-child(2) {
  top: 57px;
}
.department .wrap article:nth-child(2)::before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 0px;
  width: 90px;
  height: 112px;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-image: linear-gradient(to right, #cd5772 0%, #ce6a52 100%);
  border-image-slice: 1;
}
.department .wrap article:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 122px;
  height: 138px;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-image: linear-gradient(to right, #cd5772 0%, #ce6a52 100%);
  border-image-slice: 1;
}
.department .wrap article:nth-child(5) {
  margin-top: 200px;
}
.department .wrap article:nth-child(4), .department .wrap article:nth-child(6) {
  margin-top: 257px;
}
.department .wrap article .pic {
  position: relative;
  width: 100%;
  height: 427px;
  margin-bottom: 10px;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(42, 42, 50) 35%, rgb(255, 255, 255) 100%);
}
.department .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  filter: grayscale(80%);
}
.department .wrap article .pic .ex {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
.department .wrap article .pic .ex h2 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 5px;
}
.department .wrap article .pic .ex p {
  font-size: 16px;
  color: #fff;
}
.department .wrap article .pic .ex .sns {
  display: inline-block;
  margin-top: 22px;
}
.department .wrap article .pic .ex .sns i {
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 1920px) {
  .department .inner_top .txt {
    font-size: 14vw;
  }
}
@media screen and (max-width: 999px) {
  .department .inner_top {
    width: 100%;
    padding: 70px 3% 0;
  }
  .department .wrap {
    width: 90%;
    gap: 3%;
  }
  .department .wrap article {
    width: 48.5%;
    margin-bottom: 2%;
  }
  .department .wrap article:nth-child(2) {
    top: auto;
  }
  .department .wrap article:nth-child(2)::before {
    display: none;
  }
  .department .wrap article:nth-child(3)::before {
    display: none;
  }
  .department .wrap article:nth-child(3), .department .wrap article:nth-child(4), .department .wrap article:nth-child(5), .department .wrap article:nth-child(6) {
    margin-top: 0;
  }
}
@media screen and (max-width: 639px) {
  .department {
    overflow: hidden;
  }
  .department .wrap article {
    width: 100%;
  }
}
.youtube {
  width: 100%;
  height: auto;
  background: #232427;
}
.youtube .content_wrap {
  position: relative;
  width: 1460px;
  margin: 0 auto;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.youtube .content_wrap article {
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.youtube .content_wrap article:nth-child(odd) {
  margin-top: 100px;
}
.youtube .content_wrap article > div {
  width: 100%;
  padding: 20px;
  border: 1px solid #787878;
  box-sizing: border-box;
}
.youtube .content_wrap article > div .number {
  float: right;
  text-align: right;
  font-size: 60px;
  color: #cd5772;
  font-weight: 600;
  writing-mode: vertical-rl;
  margin-bottom: 10px;
  transform: rotate(180deg);
  clear: both;
}
.youtube .content_wrap article > div h2 {
  font-size: 20px;
  color: #ddd;
  font-weight: 500;
  margin-bottom: 18px;
  line-height: 1.2;
  clear: both;
}
.youtube .content_wrap article > div p {
  font-size: 16px;
  color: #77767c;
  font-weight: 400;
  margin-bottom: 10px;
  word-break: break-all;
}
.youtube .content_wrap article > div span {
  display: inline-block;
  font: 12px/1;
  color: #77767c;
  margin-bottom: 10px;
}
.youtube .content_wrap article > div .pic {
  width: 100%;
  height: 165px;
}
.youtube .content_wrap article > div .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

@media screen and (max-width: 1538px) {
  .youtube .content_wrap {
    width: 90%;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 999px) {
  .youtube .content_wrap article {
    width: 50%;
  }
  .youtube .content_wrap article:nth-child(odd) {
    margin-top: 0;
  }
}
@media screen and (max-width: 639px) {
  .youtube .content_wrap article {
    width: 100%;
  }
  .youtube .content_wrap article > div .pic {
    height: 210px;
  }
}
.gallery {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #232427;
}
.gallery .content_wrap {
  position: relative;
  width: 1460px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.gallery .content_wrap .loading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 1s;
  z-index: 3;
}
.gallery .content_wrap .loading.off {
  opacity: 0;
  z-index: -1;
}
.gallery .content_wrap .searchBox {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 0;
}
.gallery .content_wrap .searchBox .search {
  display: flex;
}
.gallery .content_wrap .searchBox .search input {
  width: 260px;
  height: 30px;
  padding-left: 10px;
  background: transparent;
  box-sizing: border-box;
  color: #eee;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #cd5772 0%, #ce6a52 100%);
  border-image-slice: 1;
}
.gallery .content_wrap .searchBox .search .btn_search {
  width: 80px;
  height: 30px;
  margin-left: 5px;
  color: #cd5772;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  background: transparent;
  cursor: pointer;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #cd5772 0%, #ce6a52 100%);
  border-image-slice: 1;
}
.gallery .content_wrap .btnSet {
  font-size: 0;
}
.gallery .content_wrap .btnSet button {
  height: 30px;
  padding: 0 20px;
  margin-left: 5px;
  background: transparent;
  color: #eee;
  line-height: 30px;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #cd5772 0%, #ce6a52 100%);
  border-image-slice: 1;
  cursor: pointer;
}
.gallery .content_wrap .wrap {
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: 1s;
  margin-top: 50px;
}
.gallery .content_wrap .wrap.on {
  opacity: 1;
  transform: translateY(0px);
}
.gallery .content_wrap .wrap::after {
  content: "";
  display: block;
  clear: both;
}
.gallery .content_wrap .wrap li {
  width: 25%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.gallery .content_wrap .wrap li > div {
  width: 100%;
  padding: 20px;
  background: transparent;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #cd5772 0%, #ce6a52 100%);
  border-image-slice: 1;
  box-sizing: border-box;
}
.gallery .content_wrap .wrap li > div img {
  width: 100%;
}
.gallery .content_wrap .wrap li > div p {
  font-size: 18px;
  line-height: 1.2;
  color: #777;
  margin-top: 10px;
  margin-bottom: 20px;
}
.gallery .content_wrap .wrap li > div .profile {
  width: 100%;
}
.gallery .content_wrap .wrap li > div .profile img {
  width: 30px;
  border-radius: 50%;
}
.gallery .content_wrap .wrap li > div .profile span {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  color: #787878;
  margin-left: 5px;
  transform: translateY(-7px);
}

@media screen and (max-width: 1538px) {
  .gallery .content_wrap {
    width: 90%;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 999px) {
  .gallery .content_wrap .wrap li {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .gallery .content_wrap .searchBox {
    display: block;
  }
  .gallery .content_wrap .searchBox input {
    margin-bottom: 10px;
  }
  .gallery .content_wrap .btnSet {
    text-align: right;
  }
}
@media screen and (max-width: 639px) {
  .gallery .content_wrap .searchBox .search {
    display: block;
  }
  .gallery .content_wrap .searchBox .search input {
    width: 100%;
  }
  .gallery .content_wrap .searchBox .search .btn_search {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .gallery .content_wrap .searchBox .btnSet button {
    width: 50%;
    float: left;
    margin-left: 0;
  }
  .gallery .content_wrap .wrap li {
    width: 100%;
  }
}
.members {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #232427;
}
.members .content_wrap {
  position: relative;
  width: 923px;
  margin: 0 auto;
  padding-bottom: 150px;
}
.members .content_wrap form table {
  width: 100%;
  border: none;
  border-top: 2px solid #cd5772;
  border-bottom: 2px solid #ce6a52;
}
.members .content_wrap form table th,
.members .content_wrap form table td {
  border: none;
  border-bottom: 1px solid #787878;
  padding: 16px 25px;
}
.members .content_wrap form table th {
  width: 20%;
  color: #cd5772;
  text-align: right;
}
.members .content_wrap form table th label {
  color: #cd5772;
}
.members .content_wrap form table th input[type=submit],
.members .content_wrap form table th input[type=reset] {
  width: 30%;
  height: 40px;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, #cd5772 0%, #ce6a52 100%);
  border-image-slice: 1;
  margin: 10px;
  font-size: 700;
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  background: none;
}
.members .content_wrap form table th input[type=submit]:hover,
.members .content_wrap form table th input[type=reset]:hover {
  background-image: linear-gradient(to right, #cd5772, #ce6a52);
}
.members .content_wrap form table td {
  border-left: 1px solid #787878;
  color: #787878;
}
.members .content_wrap form table td label {
  color: #ce6a52;
}
.members .content_wrap form table td input[type=text],
.members .content_wrap form table td input[type=password],
.members .content_wrap form table td input[type=email],
.members .content_wrap form table td select,
.members .content_wrap form table td textarea {
  width: 70%;
  background: transparent;
  padding: 10px;
  color: #787878;
  border: 1px solid #787878;
  resize: none;
  box-sizing: border-box;
}
.members .content_wrap form table td input[type=checkbox],
.members .content_wrap form table td input[type=radio] {
  margin-right: 30px;
}
.members .content_wrap form table td .select {
  position: relative;
  width: 70%;
}
.members .content_wrap form table td .select select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: url(../../img/ico_arrow.svg) no-repeat center right 10px;
  background-size: 27px 15px;
}
.members .content_wrap form table td input[type=checkbox],
.members .content_wrap form table td input[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
.members .content_wrap form table td input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  line-height: 22px;
  padding-left: 27px;
  margin-right: 10px;
  background: url("../../img/ico_radio_off.svg") left/22px no-repeat;
}
.members .content_wrap form table td input[type=radio]:checked + label {
  background-image: url("../../img/ico_radio_on.svg");
}
.members .content_wrap form table td input[type=checkbox] + label {
  display: inline-block;
  cursor: pointer;
  line-height: 22px;
  padding-left: 27px;
  margin-right: 10px;
  background: url("../../img/ico_check_off.svg") left/22px no-repeat;
}
.members .content_wrap form table td input[type=checkbox]:checked + label {
  background-image: url("../../img/ico_check_on.svg");
}
.members .content_wrap form table td p {
  color: #ce6a52;
  margin-top: 5px;
  font: 11px/1 "맑은 고딕";
}

/*# sourceMappingURL=style.css.map */
