$tablet: 999px;
$mobile: 639px;
$widthContent: 1400px;
$red: #cd5772;
$orange: #ce6a52;
$grey: #63666e;

$width90: 90%;

@import 'common/reset';
@import 'common/common';
@import 'common/header';
@import 'common/footer';
@import 'common/layout';
@import 'common/subHeader';

@import 'main/main';

@import 'sub/department';

@media screen and (max-width: 1399px) {
	$widthContent: 90%;
}
