.content {
	position: relative;
	width: 100%;

	.inner {
		position: relative;
		width: $widthContent;
		padding: 150px 0 100px;
		margin: 0 auto;
		min-height: 800px;
	}
}

@media screen and (max-width: $tablet) {
	.content {
		.inner {
			padding: 100px 10vw 80px;

			h1 {
				font-size: 30px;
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	.content {
		.inner {
			padding: 80px 40px 60px;

			h1 {
				font-size: 24px;
			}
		}
	}
}
